---
http_interactions:
- request:
    method: get
    uri: https://www.potterapi.com/v1/houses/5a05e2b252f721a3cf2ea33f?key=DONT_SHARE_MY_HP_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a87-4A2ghxVXyT7meNPrWpWz5XxN6T4"
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"5a05e2b252f721a3cf2ea33f","name":"Gryffindor","mascot":"lion","headOfHouse":"Minerva
        McGonagall","houseGhost":"Nearly Headless Nick","founder":"Goderic Gryffindor","__v":0,"school":"Hogwarts
        School of Witchcraft and Wizardry","members":[{"_id":"5a0fa648ae5bc100213c2332","name":"Katie
        Bell"},{"_id":"5a0fa67dae5bc100213c2333","name":"Cuthbert Binns"},{"_id":"5a0fa7dcae5bc100213c2338","name":"Sirius
        Black"},{"_id":"5a107e1ae0686c0021283b19","name":"Lavender Brown"},{"_id":"5a10944f3dc2080021cd8755","name":"Colin
        Creevey"},{"_id":"5a10947c3dc2080021cd8756","name":"Dennis Creevey"},{"_id":"5a1096b33dc2080021cd8762","name":"Aberforth
        Dumbledore"},{"_id":"5a1097653dc2080021cd8763","name":"Albus Dumbled[...]
- request:
    method: get
    uri: https://www.potterapi.com/v1/characters?key=DONT_SHARE_MY_HP_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d3b7-j7f98BKkfYMPtQwI4GxYlJb/XBo"
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"5a0fa4daae5bc100213c232e","name":"Hannah Abbott","role":"student","house":"Hufflepuff","school":"Hogwarts
        School of Witchcraft and Wizardry","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":false,"dumbledoresArmy":true,"deathEater":false,"bloodStatus":"half-blood","species":"human"},{"_id":"5a0fa54aae5bc100213c232f","name":"Bathsheda
        Babbling","role":"Professor, Ancient Runes","school":"Hogwarts School of Witchcraft
        and Wizardry","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":false,"dumbledoresArmy":true,"deathEater":false,"bloodStatus":"unknown","species":"human"},{"_id":"5a0fa5deae5bc100213c2330","name":"Ludo
        Bagman","role":"Head, Department of Magical Games and Sports","__v":0,"ministryOfMagic":true,"orderOfThePhoenix":false,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"unknown","species":"human"},{"_id":"5a0fa60aae5bc100213c2331","name":"Bathilda
        Bagshot","role":"Author, A History Of Magic","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":false,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"unknown","species":"human"},{"_id":"5a0fa648ae5bc100213c2332","name":"Katie
        Bell","role":"student","house":"Gryffindor","school":"Hogwarts School of Witchcraft
        and Wizardry","boggart":"Lord Voldemort","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":false,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"pure-blood","species":"human"},{"_id":"5a0fa67dae5bc100213c2333","name":"Cuthbert
        Binns","role":"Professor, History of Magic","house":"Gryffindor","school":"Hogwarts
        School of Witchcraft and Wizardry","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":false,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"unknown","species":"ghost"},{"_id":"5a0fa6bbae5bc100213c2334","name":"Phineas
        Nigellus Black","role":"(Formerly) Headmaster of Hogwarts","house":"Slytherin","school":"Hogwarts
        School of Witchcraft and Wizardry","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":false,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"pure-blood","species":"human"},{"_id":"5a0fa772ae5bc100213c2337","name":"Regulus
        Black","house":"Slytherin","school":"Hogwarts School of Witchcraft and Wizardry","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":false,"dumbledoresArmy":false,"deathEater":true,"bloodStatus":"pure-blood","species":"human"},{"_id":"5a0fa7dcae5bc100213c2338","name":"Sirius
        Black","house":"Gryffindor","school":"Hogwarts School of Witchcraft and Wizardry","alias":"Padfoot","animagus":"black
        dog","__v":0,"ministryOfMagic":false,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"pure-blood","species":"human"},{"_id":"5a0fa842ae5bc100213c2339","name":"Amelia
        Bones","role":"Head, Department of Magical Law Enforcement","house":"Hufflepuff","school":"Hogwarts
        School of Witchcraft and Wizardry","__v":0,"ministryOfMagic":true,"orderOfThePhoenix":true,"dumbledoresArmy":false,"deathEater":false,"bloodStatus":"unknown","species":"[...]
[...]
